.navbar {
    padding: 20px 10%;
}

.nav-item {
    margin: 0 20px;
}

.container-fluid {
    padding: 50px 10%;
    min-height: 80vh;
}

.row {
    margin-bottom: 100px;
}

.card {
    /* width: 300px;
    height: 350px; */
    width: 90%;
    height: 400px;
    margin: 75px auto 0;
    border: 2px solid #343a40;
}

span {
    color: gray;
    font-size: 12px;
}

.read-more {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.footer-content {
    position: sticky;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #343a40;
}

.footer-content p {
    padding: 30px;
    margin: 0;
    color: white;
} 

@media(max-width: 1199px) {
    .card {
        /* width: 250px; */
        height: 350px;
        /* margin: 75px auto 0; */
        /* border: 2px solid #343a40; */
    }
}

@media(max-width: 991px) {
    .nav-item {
        margin: 0;
    }

    .navbar-nav {
        text-align: center;
    }
}